/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 70px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/blur.jpg');
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
    font-family: 'PT Sans', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Tably styles
-------------------------------------------------- */

.input {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    line-height: 1 !important;
}

.td {
    margin: 0 !important;
    padding: 0 !important;
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.navbar-default {
    background-color: #0d0d0d;
    border-color: #242424;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #24abdb;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #24abdb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #24abdb;
    background-color: #242424;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #24abdb;
    background-color: #242424;
}
.navbar-default .navbar-toggle {
    border-color: #242424;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #242424;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #24abdb;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #24abdb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #24abdb;
        background-color: #242424;
    }
}

.footer {
    background-color: #0d0d0d;
    border-color: #242424;
    color: #ecf0f1;
    padding-top: 20px;
}

.sans-serif {
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 120%;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) {
    td {
        padding: 8px 0 !important;
    }

    .container > .content {
        margin: 0 -15px;
    }

    .panel-body {
        padding: 5px;
    }
}

.center-block-custom {
    float: none;
}

.row-centered {
    text-align:center;
    margin-bottom: 20px;
}
.col-centered {
    text-align:center;
    display:inline-block;
    float:none;
}

